.todos ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todosHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.todosHeader div {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 100%;
  font-weight: var(--font-weight-bold);
}

.todosHeader span:first-of-type {
  font-size: var(--font-size-sm);
}

.todosHeader span:last-of-type {
  font-size: var(--font-size-xs);
  background-color: var(--gray-400);
  padding: 2px 8px;
  border-radius: var(--radii-pill);
  color: var(--gray-200);
}

.todosHeader div:first-of-type span:first-of-type {
  color: var(--blue);
}

.todosHeader div:last-of-type span:first-of-type {
  color: var(--purple);
}

.todosListEmpty {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 24px;
  border-top: 1px solid var(--gray-400);
  color: var(--gray-300);
}

.todosListEmpty img {
  width: 56px;
  height: 56px;
  margin-bottom: 16px;
}
