.main {
  --padding: 24px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: calc(46rem + var(--padding) * 2);
  padding: 0 var(--padding);
}

.form {
  display: flex;
  gap: 8px;
  transform: translateY(-50%);
  position: relative;
  margin-bottom: 36px;
}
